{% extends "::layout.html.twig" %}

{% block app_titre %}
    Administration - {% block titre_admin %}{% endblock %}
{% endblock %}

{% block app_contenu %}
    <div class="panel panel-default">
        <!-- Header du panel -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <h2>Liste des {% block titre_admin_2 %}{% endblock %}</h2>
                </div>
                <div class="col-md-1">
                    <h2><span class="label label-default" data-toggle="tooltip" data-placement="bottom"
                              title="Nombre {% block tooltip_admin %}{% endblock %}">
                            <!-- affichage du nombre d'utilisateurs actifs si on est sur la page users_admin -->
                            <!-- sinon affichage du tableau entier d'objets -->
                            {% if (app.request.get('_route') == 'users_admin') %}
                                {% set nbUserActif = 0 %}
                                {% for utilisateur in tab_objets %}
                                    {% if (utilisateur.actif == '1') %}
                                        {% set nbUserActif = nbUserActif + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {{ nbUserActif }}
                            {% else %}
                                {{ tab_objets|length }}
                            {% endif %}
                    </span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {% block boutons_admin %}{% endblock %}
            <div class="table-responsive">
                <table class="table" data-toggle="table" data-search="true" data-striped="true" data-pagination="true"
                       data-classes="table-no-bordered table-hover" data-page-list="[5, 10, 15, 20, 50]"
                       id="table_admin">
                    {% block tableau_admin %}{% endblock %}
                </table>
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="{{ path('start') }}">Home</a></li>
        <li><a href="{{ path('home_admin') }}">Administration</a></li>
        <li class="active">{% block breadcrumb_admin %}{% endblock %}</li>
    </ol>

    <!-- Popup fenetre de suppression d'entité -->
    <div class="modal fade" id="popup-delete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close bouton-dismiss-entity" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Suppression {% block popup_admin_del_titre %}{% endblock %}</h4>
                </div>
                <!-- contenu mis à jour dans majPopupDelete de gedi.js -->
                <div class="modal-body">
                    <p id="nbSel"></p>
                    <p>Valider la suppression ?</p>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="delete-entity" type="button" class="btn btn-danger" data-dismiss="modal">Supprimer
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup fenetre d'ajout d'entité -->
    <div class="modal fade" id="popup-add" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close bouton-dismiss-entity" data-dismiss="modal">&times;</button>
                    <!-- Titre mis à jour dans gedi.js -->
                    <h4 id="popup-admin-add-titre" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    {% block popup_admin_add_contenu %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
