{% extends "GediUserBundle::layout_user.html.twig" %}

{% block base_titre %}Mon espace{% endblock %}

{% block base_contenu %}
    <a href="{{ path('shared_user') }} ">Documents partagés</a>
    <br>
    <a href="{{ path('account_user') }} ">Mon compte</a>
    <br>
    <a href="{{ path('recent_user') }} ">Recent</a>
{% endblock %}
