{% extends "GediBaseBundle::layout_base.html.twig" %}

{% block base_titre %}Start{% endblock %}

{% block base_contenu %}
    <div id="jumbo1" style="visibility:hidden"
         class="jumbotron pad-space effect-transparent text-center">
        <h1 class="up-decale">Bienvenue sur Gedi</h1>
        <h2>Que la force soit avec vous !</h2>
        <p>Gedi vous permet de stocker vos documents en ligne, de créer des projets et de collaborer
            avec d'autres personnes. Profitez des fonctionnalités du bureau en ligne et accedez
            simplement à tous vos fichiers.</p>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <!-- le bouton de connexion n'apparait que lorqu'on est deconnecté -->
        <p><a class="btn btn-primary btn-lg" href="{{ path('register') }}" role="button">Inscription</a>
            {% endif %}
            <a class="btn btn-success btn-lg" href="{{ path('login') }}" role="button">Connexion</a></p>
    </div>
{% endblock %}
